/* Stylesheet for the Tufts Climate Action homepage.
 *
 * Written by:  James Garijo-Garde
 *         for: Tufts Climate Action
 *         on:  7/16/2018 - 7/27/2018
 */

/* GLOBAL STYLES */
body {
    font-family: "Arial", sans-serif;
    /* font-size: 14pt;
    color: #999999;
    background-color: #333333;
    overflow: auto;
    margin: 0 0 0 0; */
}
/* a {
    color: #ffffff;
    text-decoration: none;
}
abbr {
    border: none;
    text-decoration: none !important;
} */

/* Menu Styles */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120px;
    background-color: #ff6633;
    z-index: 1;
    /* float: left; */
    /* margin: -17% 0 0 0;
    padding: 0 0 0 0;
    border: 0 0 0 0;
    outline: 0 0 0 0; */
    /* box-shadow: 0 0 14px #000000;
    -moz-box-shadow: 0 0 14px #000000;     /* For improved compatibility with
    -webkit-box-shadow: 0 0 14px #000000;  /* Mozilla Firefox.  */
    /* menu transitions \
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out; */
}
/* #menu:hover {
    width: 265px;
} */
#menu ul {
    position: fixed;
    top: 70px;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}
#menu a{
    color: #ffffff;
    text-decoration: none;
}
#menu li {
    display: inline;
    margin: 0 5vw 0 0;
    font-size: 24pt;
}
#menu img {
    /* float: left; */
    height: 70px;
    width: auto;
    margin: 25px auto 25px 40px;
}
/* div#menu li {
    color: #ffffff;
    font-weight: bold;
    font-size: 48pt;
    line-height: 18vh;
}
div#menu a.some {
    color: #999999;
    font-size: 40pt;
    opacity: 0;
    /* menu in transitions
    transition: .1s;
    -webkit-transition: .1s;
}
div#menu:hover a.some {
    opacity: 1;
    /* menu out transitions
    transition: .75s;
    -webkit-transition: .75s;
    transition-delay: .5s;
} */

/* Frontpage Styles */
#frontpage {
    display: block;
    background-color: #6699cc;
    position: relative;
    top: 140px;
    margin: auto;
    width: 70vw;
    height: 35vw;
}
#frontpic {
    float: right;
    margin: 1.5vh 4px 4px 1.5vw;
    width: 49vw;
    height: auto;
}
#logo {
    position: absolute;
    top: 30px;
    /*right: 51.5vw;*/
    margin: auto 0 auto 10px;
    width: 17vw;
}
#setup {
    position: absolute;
    top: 23vw;
    margin: auto 0 auto 10px;
    color: #ffffff;
    font-size: 3vw;
}
#mission {
    position: absolute;
    top: 30vw;
    margin: auto 0 auto 12px;
    color: #ffffff;
    font-size: 4vh;
}