/* Stylesheet for the Tufts Climate Action homepage.
 *
 * Written by:  James Garijo-Garde
 *         for: Tufts Climate Action
 *         on:  8/22/2018 - 8/23/2018
 */

/* GLOBAL STYLES */
body {
    font-family: "Arial", sans-serif;
    overflow-x: hidden;
    background-color: #ffffff;

}

/* Menu Styles */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120px;
    background-color: #ff6633;
    z-index: 99;
}
#menu ul {
    position: fixed;
    top: 70px;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}
#menu a {
    color: #ffffff;
    text-decoration: none;
}
#menu li {
    display: inline;
    margin: 0 5vw 0 0;
    font-size: 24pt;
}
#menu img {
    height: 70px;
    width: auto;
    margin: 25px auto 25px 40px;
}

/* Page Body Styles */
#page_body {
    height: 1030px;
}
#headline {
    display: block;
    background-color: #6699cc;
    position: relative;
    top: 130px;
    right: 15vw;
    margin: auto;
    width: 27vw;
    height: 470px; /* 34vw */
    color: #ffffff;
}
#headline h1 {
    position: relative;
    top: 10px;
    margin: auto 30px auto 30px;
    text-align: center;
    font-size: 36pt;
    font-weight: bold;
    /* font-style: italic; */
    z-index: 1;
}
#headline p {
    text-align: justify;
    margin: 30px 1vw 0 1vw;
    font-size: 18pt;
}
#about_img {
    /* float: left; */
    position: relative;
    top: 20px;
    /* left: 37vw; */
    /* margin: 20px 10px 0 2.5vw; */
    margin: 0 .5vw 0 .5vw;
    /* height: 300px; */
    width: 26vw;
    border: none;
    overflow: hidden;
}

#resources {
    display: block;
    background-color: #ff9999;
    position: relative;
    top: -390px; /* 360px */
    left: 15vw;
    margin: auto;
    width: 27vw;
    height: 470px; /* 34vw */
    color: #000000;
}
#resources ul {
    position: relative;
    top: 50px;
    list-style: square;
}
#resources a {
    color: #000000;
    text-decoration: none;
}
#resources li {
    font-size: 24pt;
    margin: 50px 5px 0 1.5vw;
}

#history {
    display: block;
    background-color: #99ff99;
    position: relative;
    top: -340px;
    margin: auto;
    width: 57vw;
    height: 380px; /* 34vw */
    color: #000000;
}
#history h1 {
    position: relative;
    top: 10px;
    margin: auto 30px auto 30px;
    font-size: 36pt;
    font-weight: bold;
    /* font-style: italic; */
    z-index: 1;
}
#history p {
    text-align: justify;
    margin: 20px 2.5vw 0 2.5vw;
}
/* Footer Styles */
#footer {
    background-color: #666666;
    position: relative;
    top: 10px;
    left: -10px;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100vw;
    height: 160px;
}
#foot_spacer {
    display: block;
    position: relative;
    margin: 0 auto 0 auto;
    width: 50vw;
    height: 160px;
}
#foot_logo {
    height: 140px;
    width: auto;
    margin: 10px auto auto 10px;
}
#foot_links ul {
    position: absolute;
    top: 90px;
    left: 26vw;
    list-style: none;
    padding: 0;
    margin: 0;
}
#foot_links a {
    color: #ffffff;
    text-decoration: none;
}
#foot_links li {
    display: inline;
    margin: 0 0 0 2vw;
    font-size: 18pt;
}
#footer p {
    position: absolute;
    top: 130px;
    left: 34vw;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 10pt;
}
#social_links {
    position: absolute;
    top: 0;
    left: 28vw;
    list-style: none;
    padding: 0;
    margin: 0;
}
#social_links li {
    display: inline;
    margin: 0 0 0 2vw;
    font-size: 18pt;
}
.social_media {
    height: 60px;
    width: auto;
}