/* Stylesheet for my personal website's contact page.
 *
 * Written by:  James Garijo-Garde
 *         for: Exclusive personal use
 *         on:  5/20/2018
 */

/* GLOBAL STYLES */
body {
    font-family: "Trebuchet MS", "Verdana", "Tahoma", sans-serif;
    font-size: 18pt;
    color: #999999;
    background-color: #333333;
    overflow:auto;
    margin: 0 0 0 0;
}
a {
    color: #ffffff;
    text-decoration: none;
}
abbr {
    border: none;
    text-decoration: none;
}

/* Menu Styles */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 100vh;
    background-color: #252525;
    float: left;
    /* margin: -17% 0 0 0;
    padding: 0 0 0 0;
    border: 0 0 0 0;
    outline: 0 0 0 0; */
    box-shadow: 0 0 14px #000000;
    -moz-box-shadow: 0 0 14px #000000;     /* For improved compatibility with */
    -webkit-box-shadow: 0 0 14px #000000;  /* Mozilla Firefox.  */
}
div#menu ul {
    list-style: none;
}
div#menu li {
    color: #ffffff;
    font-weight: bold;
    font-size: 48pt;
    line-height: 23vh;
}
/* TODO: add animations. */

/* Home Text Styles */
div#pagetext {
    margin: 20px auto 0 190px;
    text-shadow: 0 0 14px black; 
}
h1#contact {
    font-weight: bold;
    color: #ffffff;
    font-size: 36pt;
    text-align: left;
}
p.desc {
    text-align: left;
    line-height: 32pt;
}

iframe#gForm {
    /* Default values (originally in HTML code:
     * width="700" height="520" frameborder="0" marginheight="0" marginwidth="0"
     */
    width: 170vh;
    height: 80vh;
    border: 0;
    margin: 0 0 0 0;
}