/* Stylesheet for my personal website's home page.
 *
 * Written by:  James Garijo-Garde
 *         for: Exclusive personal use
 *         on:  6/5/2018
 */

/* GLOBAL STYLES */
body {
    font-family: "Trebuchet MS", "Verdana", "Tahoma", sans-serif;
    font-size: 20pt;
    color: #999999;
    background-color: #333333;
    overflow: auto;
    margin: 0 0 0 0;
}
a {
    color: #ffffff;
    text-decoration: none;
}
abbr {
    border: none;
    text-decoration: none !important;
}

/* Menu Styles */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 100vh;
    background-color: #252525;
    float: left;
    /* margin: -17% 0 0 0;
    padding: 0 0 0 0;
    border: 0 0 0 0;
    outline: 0 0 0 0; */
    box-shadow: 0 0 14px #000000;
    -moz-box-shadow: 0 0 14px #000000;     /* For improved compatibility with */
    -webkit-box-shadow: 0 0 14px #000000;  /* Mozilla Firefox.  */
    /* menu transitions */
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
}
#menu:hover {
    width: 305px;
}
div#menu ul {
    list-style: none;
}
div#menu li {
    color: #ffffff;
    font-weight: bold;
    font-size: 48pt;
    line-height: 18vh;
}
div#menu a.some {
    color: #999999;
    font-size: 40pt;
    opacity: 0;
    /* menu in transitions */
    transition: .1s;
    -webkit-transition: .1s;
}
div#menu:hover a.some {
    opacity: 1;
    /* menu out transitions */
    transition: .75s;
    -webkit-transition: .75s;
    transition-delay: .5s;
}
/* Home Text Styles */
div#hometext { /* div prefix deleted */
    /* position: relative; */
    margin: 37vh auto 0 140px;
    text-shadow: 0 0 14px black;
}
h1#name {
    font-weight: bold;
    color: #ffffff;
    font-size: 42pt;
    text-align: center;
}
p#desc {
    text-align: center;
}