/* Stylesheet for the Tufts Climate Action homepage.
 *
 * Written by:  James Garijo-Garde
 *         for: Tufts Climate Action
 *         on:  8/13/2018
 */

/* GLOBAL STYLES */
body {
    font-family: "Arial", sans-serif;
    overflow-x: hidden;
    background-color: #cccccc;
}

/* Menu Styles */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120px;
    background-color: #ff6633;
    z-index: 99;
}
#menu ul {
    position: fixed;
    top: 70px;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}
#menu a {
    color: #ffffff;
    text-decoration: none;
}
#menu li {
    display: inline;
    margin: 0 5vw 0 0;
    font-size: 24pt;
}
#menu img {
    height: 70px;
    width: auto;
    margin: 25px auto 25px 40px;
}

/* Page Body Styles */
#page_body {
    display: block;
    background-color: #99ff99;
    position: relative;
    top: 130px;
    margin: auto;
    width: 70vw;
    height: 1110px; /* 34vw */
}
#title {
    position: relative;
    top: 20px;
    margin: auto 30px auto 30px;
    color: #000000;
    font-size: 34pt;
    font-weight: normal;
    font-style: italic;
    z-index: 1;
}
#petition {
    position: relative;
    top: 35px;
    margin: 0 2.5vw 0 2.5vw;
    width: 65vw;
    height: 950px;
    border: none;
    overflow: hidden;
}

/* Footer Styles */
#footer {
    background-color: #666666;
    position: relative;
    top: 160px;
    left: -10px;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100vw;
    height: 160px;
}
#foot_spacer {
    display: block;
    position: relative;
    margin: 0 auto 0 auto;
    width: 50vw;
    height: 160px;
}
#foot_logo {
    height: 140px;
    width: auto;
    margin: 10px auto auto 10px;
}
#foot_links ul {
    position: absolute;
    top: 90px;
    left: 26vw;
    list-style: none;
    padding: 0;
    margin: 0;
}
#foot_links a {
    color: #ffffff;
    text-decoration: none;
}
#foot_links li {
    display: inline;
    margin: 0 0 0 2vw;
    font-size: 18pt;
}
#footer p {
    position: absolute;
    top: 130px;
    left: 34vw;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 10pt;
}
#social_links {
    position: absolute;
    top: 0;
    left: 28vw;
    list-style: none;
    padding: 0;
    margin: 0;
}
#social_links li {
    display: inline;
    margin: 0 0 0 2vw;
    font-size: 18pt;
}
.social_media {
    height: 60px;
    width: auto;
}